<h3>{{viewTittle}}</h3>

<form action="/products" method="POST" autocomplete="off">
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" name="ProductName" placeholder="product name">
    </div>

    <div class="form-group">
        <label>Supplier Name</label>
        <input type="text" class="form-control" name="SupplierName" placeholder="supplier name">
    </div>

    <div class="form-group">
        <label>Category</label>
        <input type="text" class="form-control" name="CategoryName" placeholder="category name">
    </div>
    
    <div class="form-group">
        <label>Quantity Per Unit</label>
        <input type="text" class="form-control" name="QuantityPerUnit" placeholder="quantity per unit">
    </div>

    <div class="form-group">
        <label>Unit Price</label>
        <input type="text" class="form-control" name="UnitPrice" placeholder="unit price">
    </div>

    <div class="form-group">
        <label>Unit In Stock</label>
        <input type="text" class="form-control" name="UnitInStock" placeholder="unit in stock"> 
    </div>

    <div class="form-group">
        <label>Unit On Order</label>
        <input type="text" class="form-control" name="UnitOnOrder" placeholder="unit on order"> 
    </div>

    <div class="form-group">
        <label>Record Level</label>
        <input type="text" class="form-control" name="RecordLevel" placeholder="record level">  
    </div>

    <div class="form-group">
         <label>Discontinued ?</label>
         <input type="text" class="form-control" name="Discontinued" placeholder="yes / no"> 
    </div>

    <div class="form group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button> 
    </div>
</form>

    